.color{
    border: black solid 1px;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    left: 41%;
}
.pixel {
    border: black solid 1px;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    left: 41%;
}
.color:first-child{
    background-color: black;
}
.o {
    background-color: red;
}
.u {
    background-color: green;
}
.title {
    text-align: center;
}
.input {
    position: fixed;
    left: 32%;
    display: block;
}
.btn {
    cursor: pointer;
}
.marginTop {
    margin-top: 70px;
}