* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.color{
    border: black solid 1px;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    left: 41%;
}
.pixel {
    flex-shrink: 0;
    flex-grow: 0;
    border: black solid 1px;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    background-color: white;
}
.color:first-child{
    background-color: black;
}
.title {
    text-align: center;
}
.input {
    position: fixed;
    left: 32%;
    display: block;
}
.btn {
    cursor: pointer;
}
.marginTop {
    margin-top: 70px;
}
.pixelBoard {
    margin: 0 auto;
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
}